<br/>
<div class="panel"> 
  <div class = "post-heading">
    <div class = "title">
          <img class = "user-pic" src="/images/{{imagePath}}.jpg">            
          <span class = "post-user-name">{{fullName}}</span> &nbsp; made a post
    </div>
    <div class = "post-time">{{timestamp}}</div>
  </div>
  <div class = "post-description">
    <div class ="post-text">
        <p>
            {{text}}
        </p>
    </div>
    <div class = "stats">
          <i (click)="onAddLikes()"><img src="/icons/like.svg" width="20" height="20"> <span class = "stats-likes">{{likes}}</span> </i> 
          <i (click)="onAddDislikes()"><img src="/icons/dislike.svg" width="20" height="20"> <span class = "stats-likes">{{dislikes}}</span> </i> 
          <i (click)="onGetComments()"><img src="/icons/comment.svg" width="20" height="20"> <span class = "stats-likes">{{numComments}}</span> </i> 
    </div>
    <input class = "comment-input" #commentbox (keyup.enter)="onEnterComment(commentbox.value)" placeholder = "Add a comment ..." type = "text">
  <div *ngIf="showComments" class = "panel-footer">
    <ul style = "list-style-type:none">
        <li *ngFor="let cmnt of comments" class = "comment-list-element">
          <div class = "comment-body">
              <img class = "comment-user-pic" src="/images/{{cmnt.imagePath}}.jpg">
              <span class = "comment-user-name">{{cmnt.fullName}}  &nbsp;  &nbsp; {{cmnt.timestamp}}</span>
          </div>
          <div class = "comment-text">{{cmnt.text}}</div>          
        </li>
    </ul>
  </div>
</div>