<div class = "login-form">
  <mat-card class="login-card">
    <mat-card-title  style="text-align: center;">FriendBook</mat-card-title>
    <mat-card-content  class = "login-form-content">
      <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
            <mat-error *ngFor="let validation of validation_messages.username">
              <mat-error class="error-message" *ngIf="loginForm.get('username').hasError(validation.type) && (loginForm.get('username').dirty 
              || loginForm.get('username').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </p>      
        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngFor="let validation of validation_messages.password">
              <mat-error class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty 
              || loginForm.get('password').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </p>
        <mat-error class="error-message" *ngIf="loginFailure">Invalid Login</mat-error>
        <div class = "button-login">
          <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">Login</button>
        </div>
        <div class = "button-register">
          <button (click)="onRegister()" mat-raised-button color="primary">Register</button>
        </div>  
      </form>
    </mat-card-content>
  </mat-card>  
</div>