<div class="login">
    <ul style="list-style-type:none">
        <li><button (click)="onClickMe('JamesCameron')">James Cameron</button></li>
        <li><button (click)="onClickMe('BrittanySpears')">Brittany Spears</button></li>
        <li><button (click)="onClickMe('AngelinaJolie')">Angelina Jolie</button></li>
        <li><button (click)="onClickMe('MickyMouse')">Micky Mouse</button></li>
        <li><button (click)="onClickMe('JustinBieber')">Justin Bieber</button></li>
        <li><button (click)="onClickMe('ErwinSchrodinger')">Erwin Schrodinger</button></li>
        <li><button (click)="onClickMe('MarkTwain')">Mark Twain</button></li>
        <li><button (click)="onClickMe('ThomasMann')">Thomas Mann</button></li>
        <li><button (click)="onClickMe('FranzKafka')">Franz Kafka</button></li>
        <li><button (click)="onClickMe('ElvisPresley')">Elvis Presley</button></li>
        <li><button (click)="onClickMe('KarlMarx')">Karl Marx</button></li>
        <li><button (click)="onClickMe('MichealJackson')">Micheal Jackson</button></li>
        <li><button (click)="onClickMe('CelineDion')">Celine Dion</button></li>
        <li><button (click)="onClickMe('AnnaKornikova')">Anna Kornikova</button></li>
        <li><button (click)="onClickMe('JamesBond')">James Bond</button></li>
        <li><button (click)="onClickMe('DiagoMaradonna')">Diago Maradonna</button></li>
        <li><button (click)="onClickMe('IsaacNewton')">Isaac Newton</button></li>
        <li><button (click)="onClickMe('SteveWozniak')">Steve Wozniak</button></li>
        <li><button (click)="onClickMe('KenThomson')">Ken Thomson</button></li>
        <li><button (click)="onClickMe('AlanTuring')">Alan Turing</button></li>
      </ul>
</div>