<div class = "login-form">
  <mat-card class = "login-form-content">
    <mat-card-title>FriendBook</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
          <mat-error *ngFor="let validation of validation_messages.username">
            <mat-error class="error-message" *ngIf="loginForm.get('username').hasError(validation.type) && (loginForm.get('username').dirty 
            || loginForm.get('username').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngFor="let validation of validation_messages.password">
            <mat-error class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty 
            || loginForm.get('password').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <mat-error class="error-message" *ngIf="loginFailure">Invalid Login</mat-error>
        <div class="button-group">
          <button type="submit" mat-button>Login</button>
          <button (click)="onRegister()" mat-button>Register</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>  
</div>