.friend-request
{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-pic
{
	margin-bottom: 20px;
}

.user-name-list-element
{
    font-style: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.friend-request-status
{
    font-style: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.send-freind-request-button
{
    margin-top: 20px;
}