<div class = "friend-request">
    <div class = "user-pic"> <img src='/images/{{profileImageID}}.jpg' width="300" height="300"> </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <div *ngFor="let uname of userNameArray">
            <div class="user-name-list-element">{{uname}}</div>
        </div>
    </div>
    <div class = "friend-request-status" *ngIf="!sendfriendrequest">Friend request pending</div>
    <div class = "send-freind-request-button">
        <button *ngIf="sendfriendrequest" (click)="onSendFriendRequestClick()">Send Friend Request</button>
    </div>
</div>