.container-newsfeed-main
{
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
}

.container-newsfeed-profile
{
    margin-top: 50px;
    margin-left: 50px;
}

.user-name-list-element
{
    font-style: bold;
    font-size: 30px;
    text-align: center;
}

.container-newsfeed
{
    margin-left: 10px;
    margin-right: 0px;
    width: 50%;
}

.container-nomoreposts
{
    margin-top: 100px;
    text-align: center; 
}

@media (max-width: 600px) 
{
    .container-newsfeed-profile
    {
        display: none;
    }
}