.friend-request-management
{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-pic
{
	margin-bottom: 20px;
}

.user-name-list-element
{
    font-style: bold;
    font-size: 30px;
    text-align: center;
}

.friend-request-status
{
    font-style: bold;
    font-size: 30px;
    text-align: center;
}

.accept-friend-request-button
{
    margin-top: 20px;
}

.reject-friend-request-button
{
    margin-top: 20px;
}