.friend-request-manage .accept-friend-request-message .reject-friend-request-message
{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-name-list-element
{
    font-style: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.accept-friend-request-button .reject-friend-request-button
{
    margin-top: 20px;  
}
