<mat-toolbar class="nav-bar-friendbook" *ngIf="isLoggedIn$ | async">
    <div class="nav-item-title">
        FriendBook
    </div>
    <form class="nav-bar-search">
        <mat-form-field class="search-text-input">
          <input matInput placeholder="Search" aria-label="Number" [formControl]="searchFormControl" [matAutocomplete]="auto">
          <mat-autocomplete class="search-autocomplete" #auto="matAutocomplete">
            <mat-option (onSelectionChange)="onSearchItemSelected($event, option)" *ngFor="let option of autoCompleteList" [value]="option.name">
                <div class = "search-result-item">
                    <img class = "search-user-pic" src="/images/{{option.imageID}}.jpg" width="30" height="30"> &nbsp; &nbsp;
                    <span class = "search-user-name">{{option.name}}</span>
                </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </form>
    <div position="fixed">
        <div class="nav-bar-bubble" *ngIf="enableNotification" [matMenuTriggerFor]="notificationMenu">{{noOfNotification}}</div>
        <div class="nav-bar-notification">
            <i>
                <img src="/icons/notification.svg" width="50" height="50">            
            </i>
        </div>
        <span>
            <mat-menu #notificationMenu="matMenu" yPosition="above">
                <ng-container *ngFor="let item of menuItems">
                    <button *ngIf=!item.templateName mat-menu-item (click)="select(item.postID)">{{ item.text }}</button>
                </ng-container>            
            </mat-menu>            
        </span>
        <div class="nav-bar-newsfeed">
            <i (click)="onNewsFeedClicked()"><img src="/icons/home.svg" width="50" height="50"></i> 
        </div>
        <div class="nav-bar-wall">
            <i (click)="onWallClicked()"><img src="/icons/firewall.svg" width="50" height="50"></i>
        </div>
        <div class="nav-bar-logout">
            <i (click)="onLogoutClicked()"><img src="/icons/logout.svg" width="50" height="50"></i> 
        </div>        
    </div>
</mat-toolbar>