.fbNavBar
{
    background-color: #b6bedf;
}

.fbNavBarTitle
{
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-size: 3vh;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px; 
}

.fbNavBarIcon
{
    margin-top: 1vh;
    height: 4vh;
}

.fbNavBarSearchInput
{
    width: 100%;
}

@media (max-width: 900px) 
{
    .fbNavBarTitle
    {
        margin-top: 3vh;
        font-size: 5vh;
        text-align: center;
    }

    .fbNavBarSearch
    {
        width: 80%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-top: 0px;
        border-bottom: 0px;    
    }

    .fbNavBarIcon
    {
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 5px;
    }
}