<mat-toolbar class="nav-bar-friendbook" *ngIf="isLoggedIn$ | async">
    <div class="nav-item-title">
        FriendBook
    </div>
    <input class="nav-bar-search" type="search" value="search">
    <div class="nav-bar-notification">
        <i (click)="onNotificationClicked()" [matMenuTriggerFor]="notificationMenu">
            <img src="/icons/notification.svg" width="50" height="50">
        </i>
    </div>
    <mat-menu #notificationMenu="matMenu" yPosition="above">
        <ng-container *ngFor="let item of menuItems">
            <button *ngIf=!item.templateName mat-menu-item (click)="select(item.text)">{{ item.text }}</button>
          </ng-container>
      </mat-menu>
    <div class="nav-bar-newsfeed">
        <i (click)="onNewsFeedClicked()"><img src="/icons/home.svg" width="50" height="50"></i> 
    </div>
    <div class="nav-bar-wall">
        <i (click)="onWallClicked()"><img src="/icons/firewall.svg" width="50" height="50"></i>
    </div>
    <div class="nav-bar-logout">
        <i (click)="onLogoutClicked()"><img src="/icons/logout.svg" width="50" height="50"></i> 
    </div>
</mat-toolbar>