.nav-bar-friendbook
{
    text-align: center;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #f2f2f2;
    z-index: 999;
}

.nav-item-title
{
    float: left;    
    font-style: italic;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    margin-right: 50px;
    margin-left: 10px;
}

.nav-item-notification
{
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}

.nav-item-newsfeed
{
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}

.nav-item-wall
{
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}

input[type=search]
{
    float: left;
    width: 40%;
    height: 40px;
    margin-top: 10px;
}